
@{
    ViewData["Title"] = "ForgotPasswordSent";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Forgot Password</h4>
<hr />
<div class="row">
    <div class="col-md-10">
        <span>Your password has been successfully sent to the provided email.</span>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

