@model SocialNetwork.Models.User

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Forgot Password</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="ForgotPasswordSend">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="UserEmail" id="UserEmail" value="@ViewBag.UserEmail" />
            <div class="form-group">
                <label asp-for="SecurityQuestionAnswer" class="control-label"> @ViewBag.SecurityQuestion </label>
                <input name="SecurityQuestionAnswer" class="form-control" required/>
                <span asp-validation-for="SecurityQuestionAnswer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Send Mail" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

