@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    Social Network UNYT is committed to protecting the privacy of visitors to our website, subscribers to our newsletters,
    and those providing contact information. In addition, Social Network UNYT is opposed to unauthorized commercial e-mail
    delivery, otherwise known as spam. Please read the following Privacy and Spam Policy to understand how your personal
    information is treated. From time to time, Social Network UNYT may offer new information or services that may affect 
    this policy.
</p>
